<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 自动扫描注解 -->
	<context:component-scan base-package="gjm.house">
		<!-- 过滤出controller，配置mvc时重复扫描会出现无法加载注解问题 -->
		<!-- 注解扫描的包 通过exclude-filter 把所有 @Controller注解的表现层控制器组件排除 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 引入hibernate的配置 -->
	<import resource="spring-hibernate.xml" />
	<!-- 引入定时任务 -->
	<import resource="spring-quartz.xml" />

</beans>